# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
x64/
x32/

# Build output
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.ide

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.rsuser
*.userprefs

# ASP.NET Core
appsettings.*.json

# Rider
.idea/

# dotnet watch
**/Properties/launchSettings.json

# =========================
# Node / Electron / Vite
# =========================
node_modules/
dist/
build/
out/
.vite/
.cache/
.eslintcache
coverage/
*.log
*.tsbuildinfo
WrapperApp.Client/assets/
# Electron specific
*.asar
*.local
*.lock
*.db
.DS_Store

# Environment files
.env
.env.local
.env.*.local
npm-debug.log*

# =========================
# Others
# =========================
*.bak
*.tmp
*.swp
Thumbs.db
ehthumbs.db
